<section id="congrat" class="container-fluid page-content d-flex flex-column bg-dark">
  <%= render 'shared/topnav' %>
  <section id="congratTitle" class="row px-4 my-auto">
    <div class="name col-10 offset-1 text-center">
      <h3>Congratulations ! 🥂</h3>
    </div>
  </section>
</section>
<%# <div  id="confetti"></div> %>
