<section id="challenges" class="container-fluid d-flex flex-column bg-dark">
    <%= render 'shared/topnav' %>
    
</section>
<section id="challengesContent" class="container-fluid d-flex page-content flex-column bg-white">
    <!-- Affichage de l'entête de la dernière partie -->
    


    <!-- Affichage du détail de la partie -->

    <!-- Affichage des dernières partie -->

    </section>