<section id="tips" class="container-fluid page-content d-flex flex-column bg-dark">
  <%= render 'shared/topnav' %>
  <section id="tipsTitle" class="row px-4 my-auto">
    <div class="name col-10 offset-1 text-center">
      <h2> Congratulations ! </h2>
    </div>
  </section>
</section>
<%# <div  id="confetti"></div> %>
