<div class="container">
  <div class="challenge-card-title d-flex justify-content-start my-4">
    <h2>Quizz Results</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
        <div class="challenge-card-btn d-flex justify-content-center align-items">
          <div class="card-challenge card-body-challenge d-flex justify-content-space-around mb-4 text-center">

              <p> dernier quizz</p>

          </div>
        </div>
        <div class="card-challenge-content mt-4 pt-4">
          <p>desciption</p>
        </div>
    </div>
  </div>
</div>
