body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
}

.page-content{
    min-height: 100vh;
    height: auto;
    clear: both;
}
.padding-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}


