body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  // scrollbar-width: none;
}

* {
  scrollbar-color: transparent !important;
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
}

// Hide Scroll Bar

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.hide-native-scrollbar {
  scrollbar-width: none;
  /* Firefox 64 */
  -ms-overflow-style: none;
  /* Internet Explorer 11 */
}

// Pour avoir un contenue avec une min height

.page-content {
  min-height: 100vh;
  height: auto;
  clear: both;
}

.padding-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}

.text-teal {
  color: $teal;
}

.text-biscay {
  color: $biscaygreen;
}


.fixed {
  position: fixed;
}