#category {
    height: 36vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg");
    background-position: center center;
    background-size: cover;

    #categoryTitle {

        .name {
            margin-top: $mt-n1;
            font-size: $fs-title;
            font-weight: bold;
            color: white;
        }
    }

}

#categoryContent {
    z-index: 2;
    // position: fixed;
    margin-top: 30vh;
    padding: 2rem 0rem 100px;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;

    .mr-cpc {
        margin-right: 2rem;
    }

    .ml-cpc {
        margin-left: 2rem;
    }

    * {
        margin: 0;
    }


    .scrolling-wrapper-flexbox {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 4em 0 4em 0;
        margin-top: -3em;

        .card-phone {


            text-align: center;

            .card-phone-content {
                border-radius: $border-radius-lg;
                height: 50vh;
                width: 300px;
                margin-left: 1.5rem;
                box-shadow: $boxshadow4;
                transition: all ease 500ms;

                scrollbar-width: none;
                scrollbar-color: transparent transparent;

                &:hover {
                    box-shadow: $boxshadow3 ;
                    }

                img {
                    margin-bottom: 16px;
                    height: 180px;
                }


                &::-webkit-scrollbar,
                    {
                    width: 0 !important;
                    scrollbar-color: transparent transparent;
                }
            }

        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    a {
        color: $dark;
        text-transform: uppercase;
    }

    .card-category {
        margin-bottom: 2vh;
    }

}
