
#error {
    height: 36vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg");
    background-position: center center;
    background-size: cover;


    #errorTitle {

      .name {
        margin-top: -42px;
        font-size: 3rem;
        font-weight: bold;
        color: white;
        position: absolute;
        top: 340px;
        left: 0;
        right: 0;
      }
    }

  }
