#map {
  z-index: 999;
}

.navhidden {
  visibility: hidden;
}


.infoWindow {
  color: #257c0e;
  border-radius: 8px;
   overflow-y: scroll;
   width: 226px;
   height: 277px;
   text-align: center;

}

.mapboxgl-popup-content{
 color: #810a72;
 border-radius: 8px !important;

}


