#map {
  margin-top: 6rem;
  top: 0;
  position:absolute;
}

.bg-map{
  width: 100%;
  height: 500px;
  background-color: $aubergine;
  opacity: 0.2;
  position: unset;
  z-index: -99;
}

.infoWindow {
  color: #257c0e;
  border-radius: 8px;
   overflow-y: scroll;
   width: 226px;
   height: 277px;
   text-align: center;
   // position: fixed;
   // background-color: white;
   // background-attachment: scroll;

    #type {
      // color: black;
    }
}

.mapboxgl-popup-content{
 color: #810a72;
 border-radius: 8px !important;


}


