#tips {
  height: 36vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -99;
  background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg");
  background-position: center center;
  background-size: cover;

  #tipsTitle {

    .name {
      margin-top: -42px;
      font-size: 3rem;
      font-weight: bold;
      color: white;
    }
  }

}

#tipsContent {
  z-index: 2;
  margin-top: 30vh;
  padding: 2rem 2.5rem 84px;
  border-top-left-radius: $border-radius-lg;
  border-top-right-radius: $border-radius-lg;


  .card {
    border: none;
    box-shadow: $boxshadow3;
  }

  // .voteForTip {
  //   position: absolute;
  //   top: 1rem;
  //   right: 1rem;
  // }

  .cta-over-section {
    margin-top: -58px;
    margin-bottom: 1.5rem;
    height: 54px;
    // background: $primary;
    a {
      padding: 11px 3rem;
      font-size: 1.25rem;
      line-height: 1.5;
      border-radius: $border-radius-lg;
      color: white;
      box-shadow: $boxshadow2;
    }
  }
}

.bottom-tip-card {
  display: flex;
  justify-content: space-between !important;

  // a {
  //   font-size: 20px;
  // }
}
