#user {
    height: 40vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -300;
    background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg");
    background-position: center center;
    background-size: cover;

    box-shadow: $boxshadow2;

    #userStatus {

        .name {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

}

#userContent {
    z-index: 302;
    margin-top: 36vh;
    padding: 2rem 2.5rem;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    font-weight: 500;


    .todoTitle {
        font-size: 1.75rem;

    }

    .list-group-item {
        list-style-type: none;
        font-weight: normal;
        // font-size: 2.3vh;
        width: 100%;
        padding: 0;
        border: none;
    }

    span {
        position: relative;
    }

    span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: $teal;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
    }

    #toDo, #toDodone, #partyChallenges {
        &:hover span:before {
            transform-origin: bottom left;
            transform: scaleX(1);
        }
    }

    .todobtn {

    }

}
