#user {
    height: 38vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg");
    background-position: center center;
    background-size: cover;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    box-shadow: $boxshadow2;

    #userStatus {


        .name {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

}

#userContent {
    z-index: 2;
    margin-top: 36vh;
    padding: 2rem 2.5rem;

    p.h4 {
        font-weight: 500;
    }

    #myTodo {

    }
}

/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */


    }
    /* Landscape */
    @media screen and (orientation:landscape) {
    /* Landscape styles */

    .verticaltext {
        padding-left: 6rem;
        min-height: 10px;
    }
    .verticaltext-content {
        left: -26%;
    }
    }
