<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="d-flex">
    <li>
    <%# link_to user_path, :class => current_class?(user_path)  do %>
    <i class="fa fa-user" aria-hidden="true"></i>
    <%# end %>
    </li>
    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-map-pin" aria-hidden="true"></i></a></li>
  </ul>
</nav>
