<div id="mySidenav" class="sidenav">
  <div class="row">
    <div class="col-12 d-flex px-5 align-items-center justify-content-between ">
      <p class="h4 text-white">My Profil</p>
      <a id="closeUserBtn" href="javascript:void(0)" class="closebtn" ">&times;</a>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-9 offset-1 text-center">
      <!-- Use any element to open the sidenav -->
      <img src="https://avatars0.githubusercontent.com/u/43972190?v=4" alt="" class="avatar">
      <p class= "name text-white my-2">LamPouple</p>
    </div>
  </div>
  <div class="row">
    <%# METTRE LE FORMULAIRE EDIT PROFIL ICI %>
  </div>
</div>
