<div id="userNav"class="container-fluid">
  <div  class="row">
    <div class="col-10 offset-1 d-flex align-items-center justify-content-between">
      <button type="button" id="userMenuBtn" class="btn">
        <%= image_tag 'menubar.png' %>
      </button>
    </div>
  </div>
</div>
