<div class="container">
  <div class="row">
    <div class="col-12">
      <% @challenges.each do |challenge| %>
      <%= challenge.title %>
      <%= challenge.description.first(10) %>
      <%= link_to "show", challenge_path(challenge)  %>
      <% end %>
    </div>
  </div>
</div>
