<section id="challenges" class="container-fluid d-flex flex-column bg-dark">
<%= render 'shared/topnav' %>
  <section id="challengesTitle" class="row px-4 my-auto">
    <div class=" name col-10 offset-1 text-center">
      <h3 class=" text-white  text-uppercase ">Challenges</span>
    </div>
  </section>
</section>
<section id="challengesContent" class="container-fluid d-flex page-content flex-column bg-white">
  <div class="row ">
    <div class="col-12">
      <small>
        Your favorite types of challenges here.
      </small>
    </div>
  </div>
  <div class="row mt-4 mb-5">

    <% @challenges.each do |challenge| %>
      <div class="col-12 mb-2">
        <%= link_to challenge_path(challenge) do %>
          <div class="category">
            <h3><%= challenge.title %></h3>
            <%= challenge.description %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
