// Card HOMEPAGE


// card home page

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  // border-radius: 4px;
}

.card-homepage {
  height: 185px;
  border-radius: $border-radius;
  // padding: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;
  background-color: $primary-light;
  // box-shadow: 0px 7px 10px rgba(black, 0.5);
  border: none;
  justify-content: center;
  text-align: center;
  color: white;


  p {
    transition: all ease 0.4s;
  }

  &:hover {
    transform: translateY(0px); // Changer 0 pour lever vers le haut la card
    -webkit-transform: translateY(0px);

    p {
      z-index: 5;
      color: white;
      transition: all ease 0.4s;
    }

    &:before {
      opacity: 0.5;
    }

    .info {
      opacity: 1;
      transform: translateY(45px);
      -webkit-transform: translateY(45px);
    }

    .title {
      z-index: 5;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background: $primary-dark;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .title {
    position: absolute;
    color: white;
    opacity: 1;
    margin: auto;
    z-index: 5;
  }

  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transition: 0.5s;
    // margin: auto;
    text-decoration: none;

    h1 {
      margin: 0px;
    }

    p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }

    button {
      padding: 5px 10px;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black !important;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;

      a {
        color: black;
        text-decoration: none;
        transition: 0.4s ease;
      }

      &:hover {
        background: white;

        a {
          color: black;
          transition: 0.4s ease;
          text-decoration: none;
        }
      }
    }
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  background-color: rgba(#42213D, 0.6);
  height: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: $boxshadow2;
  transition: all ease 300ms;

  &:hover {
    box-shadow: $boxshadow3;
    transition: all ease 300ms;
  }
}

#main-btn {
  text-decoration: none;
}

.card-category:hover {
  background-color: rgba(#42213D, 0.9);
  transition: all ease 0.4s;

}

.card-category:before {
  transition: all ease 0.4s;
}

.card {
  box-shadow: 10px 10px 8px #C2C1C2;
}

.card-body-challenge {
  flex: 1 1 auto;
  padding: 1.25rem;
  justify-content: space-around
}

.card-challenge {
  box-shadow: 10px 10px 8px #C2C1C2;
  border-radius: 4px;
  width: 300px;
  height: 100px;
  border: 0.2px solid #C2C1C2;
}

.img-pts {
  width: 10px;
}

//  MEDIA QUERIES
@media (max-width: 576px) {
  .card-deck {}


}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .wrapper {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .card-deck .wrapper {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }

}

@media (min-width: 992px) {
  .card-deck .wrapper {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}


// Card challenge User show


.blog-slider {
  // width: 95%;
  position: relative;
  max-width: 800px;
  margin-top: 1rem;
  background: #fff;
  box-shadow: $boxshadow2;
  padding: 25px;
  border-radius: $border-radius-lg;
  // height: 400px;
  transition: all .3s;

  * {
    padding: 0 !important;
    margin: 0 !important;
  }

  &__item {
    margin-top: 24px;

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: .3s;
        }
      }

      .blog-slider__content {
        >* {

          opacity: 1;
          transform: none;
          color: black;
        }
      }
    }
  }

  &__img {
    // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: $boxshadow3;
    border-radius: $border-radius-lg;
    transform: translateX(0px);
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
      border-radius: $border-radius-lg;
      transition: all .3s;
      @media screen and (min-width: 992px) {
        height: 500px;
      }

      @media screen and (max-width: 768px) {
      }

      @media screen and (max-width: 576px) {
        height: 256px;
      }
    }


  }

  &__content {

    // width: 60%;
    // padding-right: 25px;
    @media screen and (max-width: 992px) {
      // width: 55%;
    }

    @media screen and (max-width: 768px) {
      // margin-top: -80px;
      text-align: center;
      padding: 0 8px !important;
    }

    @media screen and (max-width: 576px) {
      padding: 0
    }

    >* {
      opacity: 1;
      transform: translateY(25px);
      transition: all .4s;


    }

  }

  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 50px !important;
    line-height: 1.5em;
  }

  &__button {
    // display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px !important;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;

    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
}