.flipcontainer {
  
  height: 360px;
  position: relative;
  perspective: 800px;
  border-radius: $border-radius-lg;
  
  
}
.flipscore {
  font-size: 20px;
  color: $primary-dark;
}
.flipcard {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: $border-radius-lg;
  
  // cursor: pointe r;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   
       
  }
  .count {    
    background-color: $primary-light;
    color: white;
    flex-shrink: 1;
    padding-right: 15px;
  }
  .question {    
    
    padding: 15px;
    color: $primary-dark;
    font-size: 25px;
    flex-grow: 1;
  }
  .options {    
    flex-grow: 1;
  }

  .btn {
    width: 260px;
  }

  .flipcontent {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #47525D;

    .radio {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }

    img {
      width: 120px;
      height: 120px;
    }
  }

  .back {
    transform: rotateY(180deg);
  }

  &.flipped {
    transform: rotateY(180deg);
  }
}