.navbar {

  width: 100%;
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  ul {
    list-style: none;
    width: 100%;
    padding: 0;


  }

  ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }

  ul li a {
    text-decoration: none;
    text-align: center;
    position: relative
  }

  a {
    text-decoration: none;
    text-align: center;
    position: relative
  }

  .active i {
    color: $primary;
  }

  a i {
    font-size: 2rem;
    display: block;
    color: #8A8EA6;
    transition: all 200ms ease-in-out;

  }

}

// ------------------------ NAV EVERYE WHERE

#userNav {
  z-index: 501;
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  padding: 0rem 2.5rem 20px;
  margin-bottom: 40px;


  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    border-color: none;
  }
}

#myTab {

  a {
    color: white;
  }

  .nav-tabs .nav-link {
    transition: all ease 500ms;
  }

  .active {
    transition: all ease 500ms;

  }

  a.active {
    color: $primary;
  }
}
