$darkgreen: #4C797F;
$lightgreen: #BCE4D2;

$speed: .5s;

.search-bar {
  margin: auto;
  z-index: 501;
  .search {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 490px;
    height: 136px;

    input[type="text"]:focus,
    input[type="text"] {
      color: white !important;
    }

    input {
      cursor: pointer;
      margin: 0 auto;
      color: white;
      width: 65px;
      height: 65px;
      border: none;
      font-size: 20px;
      padding: 10px;
      position: absolute;
      top: 0px;
      left: 50%;
      border-radius: 100%;
      box-shadow: 0 0 0 5px $primary-light;
      background: transparent;
      transition: width .25s ease-in-out, border-radius .5s ease-in-out, left .35s ease;
      transition-delay: .5s, .75s, .5s;

      &:focus,
      &:valid {
        border-radius: 1%;
        outline: none;
        border: solid 4.5px $primary-light;
        position: absolute;
        transition-delay: 1s, .3s, 1s;
        width: 74%;
        left: 16%;

        +button.exit {
          pointer-events: all;
          transition-delay: 0s;
          position: absolute;
          padding: 0;
          border: 0;
          top: -6px;
          left: 76%;
          background: $primary-light;
          border-radius: 10%;
          color: $primary-light;
          outline: none;
          height: 5px;
          width: 50px;
          transform: rotate(45deg) translate(35px, 15px);
          transition: transform .25s ease-in-out, left .3s ease-in-out;
          transition-delay: .25s, 1s;

          &:focus {
            outline: none;

          }

          &:after {
            content: '';
            position: absolute;
            padding: 0;
            border: 0;
            background: $primary-light;
            border-radius: 10%;
            color: $primary-light;
            outline: none;
            height: 5px;
            width: 50px;
            transform: rotate(90deg);
            transition: transform .25s ease-in-out;
            transition-delay: .5s;
            cursor: pointer;
          }
        }
      }
    }

    .exit {
      position: absolute;
      padding: 0;
      border: 0;
      top: -7px;
      // bottom: 15px;
      left: 238px;
      background: $primary-light;
      border-radius: 10%;
      color: $primary-light;
      outline: none;
      height: 5px;
      width: 50px;
      transform: rotate(45deg) translate(110px, 25px);
      transition: transform .25s ease-in-out, left .25s ease-in-out;
      transition-delay: 1s, .5s;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:after {
        content: '';
        position: absolute;
        padding: 0;
        border: 0;
        top: 0%;
        left: 0%;
        background: $primary-light;
        border-radius: 10%;
        color: $primary-light;
        outline: none;
        height: 5px;
        width: 50px;
        transform: rotate(180deg);
        transition: transform .25s ease-in-out;
        transition-delay: .75s;
        cursor: pointer;
      }
    }
  }

}