 /* The side navigation menu */
 .sidenav {
  height: 1000px; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; 
  left: 0;
  background-color: #323234;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  label {
    color: white;
  }
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  font-size: 36px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

#userMenuBtn {
  position: absolute;
  top: 2rem;
  left: 2rem;
}