 /* The side navigation menu */
 .sidenav {
   height: 1000px;
   /* 100% Full-height */
   width: 0;
   /* 0 width - change this with JavaScript */
   position: fixed;
   /* Stay in place */
   z-index: 501;
   /* Stay on top */
   top: 0;
   left: 0;
   background:rgba(0,0,0,0.8);

   overflow-x: hidden;
   padding-top: 60px;
   transition: 0.5s;

   label {
     color: white;
   }

   &:hover {
     overflow-y: auto;
   }

   #nav-profile {
     overflow-y: auto;
     height: calc(100vh - 84px);
     padding: 44px 0;
     
   }

   .blur {
    background: linear-gradient(81.2deg, rgba(0, 0, 0, 0.49) -49.44%, rgba(96, 54, 94, 0.62) 82.85%), image-url("background/bg-tips.jpg") ;
    background-size: cover;
    overflow: hidden;
    filter: blur(16px);
    -webkit-filter: blur(16px);
    position: absolute;
    height: 100%;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
  }

 }

 /* Position and style the close button (top right corner) */
 .sidenav .closebtn {
   font-size: 36px;

 }

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
   .sidenav {
     padding-top: 15px;
   }

   .sidenav a {
     font-size: 18px;
   }
 }

 #userMenuBtn {
   // position: ;
   // top: 2rem;
   // left: 2rem;
 }